<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- 匯入功能列表-->
   {% include 'index_header.html'%}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4">鬍子的寶庫</h1>
          <div class="list-group">
          {% for catedict in catedict %}
            <a href="/homepage/?cate={{catedict.cateid}}" class="list-group-item">{{catedict.catename}}</a>
          {% endfor %}
          </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
          <!-- 匯入廣告列表-->
          {% include 'index_adv.html'%}
          <div class="row">
            {% for prodict in prodict%}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="/buy/?proid={{prodict.proid}}"><img class="card-img-top" src='../static/{{prodict.proimg}}' alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/buy/?proid={{prodict.proid}}">{{prodict.proname}}</a>
                  </h4>
                  <h5>${{prodict.proprice}}</h5>
                  <!--<p class="card-text">{{prodict.procont}}</p>-->
                  {% autoescape off %}
                      {{prodict.procont}}
                  {% endautoescape %}
                </div>
                <div class="card-footer">
                  <form action="/buy/" method="GET">
                    <button id="{{prodict.proid}}" name="proid" type="submit" value="{{prodict.proid}}" class="btn btn-info">加入購物車</button>
                    </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript">
        //使用jQuery設定觸發事件
        $('button[name="proid"]').click(function(){ 
            //$(this)抓取是哪一個按鈕
            var nickname = $(this).val();
            $.ajax({
              url:"/nickname/",
              type:"post",
              data:{"nickname":nickname},
              dataType:"json",
              success:function(data){
                $(".name_value").text(data['nickname'])
              }
            });
          });
    </script>
  </body>
</html>
